/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.Travel {
    background-color: black;
    padding: 5rem;
}

/* step3:Component Cointainer */
.TravelContainer {
    max-width: 1200px;
    margin: auto;
}

/* step4:row1 */
.TravelBody1 {
    display: grid;
    grid-template-columns: 1fr;
}

/* step5:column1 */
.TravelBlock1 {
    /* background-color: aqua; */
}

/* step6:subcolumn1 */
.TravelBox1 h4 {
    font-size: 1.5rem;
    color: #c69F53;
    text-align: center;
    font-family: var(--ffsecondary);
}

.TravelBox1 h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-family: var(--ffprimary);
}

.TravelBox1 P {
    font-size: 2rem;
    text-align: center;
    color: #ffffff90;
    font-family: var(--ffthree);
    padding-bottom: 4rem;
}

/* step4:row2 */
.TravelBody2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
}


.TravelBox2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.681)),
        url(./assets/images/fleet-exterior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem;
    background-size: cover;
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 2rem;
    padding-left: 2rem;

}

.TravelBox2 h2 {
    color: white;
    font-size: 2rem;
    font-family: var(--ffprimary);


}

.TravelBox2 p {
    color: #ffffff99;
    font-size: 1rem;
    font-family: var(--ffsecondary);

}


.TravelBox3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.681)),
        url(./assets/images/fleet-interior.jpg);
    background-repeat: no-repeat;
    padding: 10rem;
    background-size: cover;
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.TravelBox3 h2 {
    color: white;
    font-size: 1.5rem;
    font-family: var(--ffprimary);

}

.TravelBox3 p {
    font-size: 1rem;
    color: #ffffff99;
    font-family: var(--ffsecondary);
}


.TravelBox4 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.681)),
        url(./assets/images/chauffeur-service.jpg);
    background-repeat: no-repeat;
    padding: 10rem 0rem;
    background-size: cover;
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.TravelBox4 h2 {
    color: white;
    font-size: 1.5rem;
    font-family: var(--ffprimary);

}

.TravelBox4 p {
    font-size: 1rem;
    color: #ffffff99;
    font-family: var(--ffsecondary);
}